* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', 'Open sans', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

/* HEADER */
.header {
  padding: 20px;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  padding: 3px;
  border: 3px solid #EF6464;
}

.nav {
  flex-grow: 1;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation > .item {
  list-style-type: none;
  padding: 0 10px;
}

.navigation > .item > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #EF6464;
}

/* APRESENTATION */
.apresentation {
  background: #f26a6b;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 52px;
}

.technologies {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.technologies > .item {
  padding: 10px 0;
  opacity: 0.7;
  border-radius: 50%;
}

/* ABOUT */
.about {
  text-align: center;
  margin: 100px;
}

/* CONTACT */
.contact {
  text-align: center;
  margin: 100px;
}

.button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  background-color: #EF6464;
  border-radius: 2px;
  border: 2px solid #C65353;
}

/* FOOTER */
.footer {
  background: #333;
  height: 150px;
  color: #fff;
  display: flex;
}

.footer > p {
  margin: auto;
}

.heart {
  color: #ff0000;
}
